@page
@model L4DStatsApi.Pages.IndexModel
@{
    ViewData["Title"] = "Frontpage";
}

<h1>Pilssi API - L4D Stats API</h1>
<h2>Create your own game server keys by logging is using Facebook credentials.</h2>
@{
    var gameServerGroups = await @Model.GetGameServerGroups();

    <h3>Game server groups (gameServerGroupPublicKey) and games servers (gameServerPublicKey):</h3>
    foreach (var gameServerGroup in gameServerGroups)
    {
        <div>@gameServerGroup.PublicKey</div>

        var gameServers = await @Model.GetGameServers(gameServerGroup.PublicKey);

        foreach (var gameServer in gameServers)
        {
            <div style="padding-left: 20px"><span style="font-weight: bold">@gameServer.Name</span>: @gameServer.PublicKey</div>
        }
    }

    var ongoingMatches = await @Model.GetOngoingMatches();

    <h3>Ongoing matches (matchId):</h3>
    foreach (var ongoingMatche in ongoingMatches)
    {
        <div>@ongoingMatche.Id</div>
    }
}
