@page
@model L4DStatsApi.Pages.IndexModel
@{
    ViewData["Title"] = "Frontpage";
}

<h1>Player Stats API</h1>
<div style="color: red; font-weight: bold">Create your own game server keys by logging is using Facebook credentials.</div>
@{
#if DEBUG
    var swaggerUrl = @Href("~/swagger");
    <div><a href="@swaggerUrl">Swagger is online</a></div>
#endif

    var gameServerGroups = await @Model.GetGameServerGroups();

    <h3>Game server groups (gameServerGroupPublicKey) and games servers (gameServerPublicKey):</h3>
    foreach (var gameServerGroup in gameServerGroups)
    {
        <div>@gameServerGroup.PublicKey</div>

        var gameServers = await @Model.GetGameServers(gameServerGroup.PublicKey);

        foreach (var gameServer in gameServers)
        {
            <div style="padding-left: 20px"><span style="font-weight: bold">@gameServer.Name</span>: @gameServer.PublicKey</div>
        }
    }

    var ongoingMatches = await @Model.GetOngoingMatches();

    <h3>Ongoing matches (matchId):</h3>
    foreach (var ongoingMatch in ongoingMatches)
    {
        <div>@ongoingMatch.Id</div>
    }

    const int latestMatchesCount = 5;
    var latestMatches = await @Model.GetLatestMatches(latestMatchesCount);

    <h3>Latest @latestMatchesCount matches (matchId):</h3>
    foreach (var latestMatch in latestMatches)
    {
        <div>@latestMatch.Id (@((latestMatch.LastActive ?? DateTime.MinValue).ToString("f")))</div>
    }

    const int mostLeathalWeaponCount = 5;
    var mostLeathalWeapons = await @Model.GetMostLeathalWeapons(mostLeathalWeaponCount);

    <h3>Most @mostLeathalWeaponCount leathal weapons:</h3>
    foreach (var leathalWeapon in mostLeathalWeapons)
    {
        <div>@leathalWeapon.Name (Kills: @(leathalWeapon.Kills))</div>
    }

    const int bestHeadshotKillRatioWeaponsCount = 5;
    var bestHeadshotKillRatioWeapons = await @Model.GetBestHeadshotKillRatioWeapons(bestHeadshotKillRatioWeaponsCount);

    <h3>Best @bestHeadshotKillRatioWeaponsCount headshot per kill ratio weapons:</h3>
    foreach (var headshotKillRatioWeapon in bestHeadshotKillRatioWeapons)
    {
        <div>@headshotKillRatioWeapon.Name (Ratio: @(headshotKillRatioWeapon.HeadshotKillRatio.ToString("0.00")))</div>
    }
}
