@page
@model L4DStatsApi.Pages.IndexModel
@{
    ViewData["Title"] = "Frontpage";
}

<h1>Player Stats API</h1>
<div style="color: red; font-weight: bold">Create your own game server keys by logging is using Facebook credentials.</div>
@{
#if DEBUG
    var swaggerUrl = @Href("~/swagger");
    <div><a href="@swaggerUrl">Swagger is online</a></div>
#endif

    var gameServerGroups = await @Model.GetGameServerGroups();

    <h3>Game server groups (gameServerGroupPublicKey) and games servers (gameServerPublicKey):</h3>
    foreach (var gameServerGroup in gameServerGroups)
    {
        <div>@gameServerGroup.PublicKey</div>

        var gameServers = await @Model.GetGameServers(gameServerGroup.PublicKey);

        foreach (var gameServer in gameServers)
        {
            <div style="padding-left: 20px"><span style="font-weight: bold">@gameServer.Name</span>: @gameServer.PublicKey</div>
        }
    }

    var ongoingMatches = await @Model.GetOngoingMatches();

    <h3>Ongoing matches (matchId):</h3>
    foreach (var ongoingMatche in ongoingMatches)
    {
        <div>@ongoingMatche.Id</div>
    }
}
